* {
  margin: 0;
}
#divMain {
  width: 100%;
  height: 100vh;
}
.fire {
  background-color: red;
}
.water {
  background-color: lightblue;
}
.lightning {
  background-color: rgb(255, 255, 109);
}
.earth {
  background-color: rgb(112, 17, 17);
}
#divCountry {
  float: left;
  display: flex;
  flex-direction: row;
}
#divArmy {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}
#divMain {
  width: 100%;
  height: 100vh;
}
#navResources .divUser {
  width: 200px;
  height: 100%;
  background-color: rgb(141, 101, 40);
  float: left;
}
@font-face {
  font-family: "Great Vibes";
  src: url("greatvibes.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav > .nav-header {
  display: inline;
  margin-left: 20px;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
}

nav > .nav-btn {
  display: none;
}

nav > ul {
  display: inline;
  float: right;
  font-size: 18px;
  margin: 0 20px 0 0;
  padding: 0;
  list-style-type: none;
  width: 50%;
}

nav > ul > li {
  display: inline-block;
  width: 20%;
  position: relative;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 13px 10px 13px 10px;
}

nav > ul > li > ul {
  display: none;
}

nav > ul > li:hover > ul {
  /*nav > ul > li > ul {*/
  display: block;
  position: absolute;
  background-color: black;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav > ul > li > ul > li {
  width: 100%;
}

ul > li {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

nav > ul > li > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 5px solid rgba(255, 255, 255, 1);
  transition: border 0.8s linear;
}

nav > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 5px solid rgba(255, 255, 255, 1);
  transition: border 0.8s linear;
}

nav > ul > li > ul > li > ul {
  display: none;
}

nav > ul > li > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 100%;
  border-left: 1px solid rgba(200, 169, 126, 1);
}

nav > ul > li > ul > li > ul > li > a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

nav > ul > li > ul > li > ul > li > a:hover {
  background-color: rgba(200, 169, 126, 0.15);
  border-left: 3px solid rgba(200, 169, 126, 1);
  transition: border 0.8s linear;
  color: rgb(200, 169, 126);
}
